@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #42A5F5;
  --white: #F7FFF7;
  --black: #463F3A;
  --black-transparent: rgba(70, 63, 58, 0.80);
  --error: #F44336;
  --success: #4CAF50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  min-height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--black);
}

input {
  width: 100%;
  outline: none;
  padding: .7rem 1rem;
  border: 1px solid var(--black);
  border-radius: 9px;
  color: var(--black-transparent);
  font-weight: 300;
}

input[type='submit'] {
  border: none;
  background: var(--primary);
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

.register-container,
.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

.register-container h1,
.login-container h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary);
}

.register-container .register-form,
.login-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  gap: 1rem;
  padding: 2rem;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bottom-nav {
  font-size: 12px;
  font-weight: 500;
}

.bottom-nav a {
  color: var(--primary);
}