@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #42A5F5;
  --white: #F7FFF7;
  --gray: #cbd2cb;
  --black: #463F3A;
  --black-transparent: rgba(70, 63, 58, 0.80);
  --error: #F44336;
  --success: #4CAF50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  min-height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--black);
}

input {
  width: 70%;
  outline: none;
  padding: .7rem 1rem;
  border: 1px solid var(--black);
  border-radius: 9px;
  color: var(--black-transparent);
  font-weight: 300;
}

input[type='submit'] {
  border: none;
  background: var(--primary);
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

.register-container,
.login-container,
.otp-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  background: var(--white);
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.register-container h1,
.login-container h1,
.otp-container h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary);
  font-size: 1.8rem;
}

.register-container .gif-container {
  min-width: 50%;
  height: 100%;
  background: url('./assets/images/Register.gif') center center no-repeat;
}

.login-container .gif-container {
  min-width: 50%;
  height: 100%;
  background: url('./assets/images/Login.gif') center center no-repeat;
}

.otp-container .gif-container {
  min-width: 50%;
  height: 100%;
  background: url('./assets/images/OTP.gif') center center no-repeat;
}

.register-container .register-form,
.login-container .login-form,
.otp-container .otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  height: 80%;
  gap: 1rem;
  padding: 2rem;
  border-right: 1px solid var(--black-transparent);
}

.bottom-nav {
  font-size: 12px;
  font-weight: 500;
}

.bottom-nav a {
  color: var(--primary);
}

.dashboard-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--white);
}

.dashboard-container .sidebar {
  width: 25%;
  height: 100%;
  padding: 2rem;
}

.dashboard-container .meetings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  height: 100%;
  width: 75%;
  padding: 2rem;
  background-color: var(--gray);
}

.dashboard-container .meetings-container .top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 200;
}

.dashboard-container .meetings-container .date-time-container h1 {
  font-weight: 500;
}

.dashboard-container .meetings-container .date-time-container .date-time .meeting-date span {
  color: var(--primary);
  font-size: 1.3rem;
}

.dashboard-container .meetings-container .date-time-container .date-time .meeting-date {
  font-size: .8rem;
  font-weight: 600;
}

.dashboard-container .meetings-container .date-time-container .date-time .meeting-day {
  font-size: .8rem;

}

.dashboard-container .meetings-container .meetings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.dashboard-container .meetings-container .meetings .meeting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 1rem 1.5rem;
  border-radius: 15px;
  gap: 2rem;
}

.dashboard-container .meetings-container .meetings .meeting .meeting-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.dashboard-container .meetings-container .meetings .meeting .meeting-data .vertical-bar {
  width: 4px;
  height: 100%;
  background: var(--primary);
}

.dashboard-container .meetings-container .meetings .meeting .meeting-data .meeting-end {
  font-weight: 200;
  font-size: .8rem;
}

.dashboard-container .meetings-container .meetings .meeting .meeting-data .meeting-duration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  gap: 6px;
  background: rgba(70, 63, 58, 0.27);
  border-radius: 3px;
}

.dashboard-container .meetings-container .meetings .meeting .meeting-data .meeting-duration .icon {
  color: var(--primary);
  margin-top: -2px;
}

.dashboard-container .meetings-container .meetings .meeting .meeting-data .meeting-title {
  font-size: 1rem;
  font-weight: 700;
}

.dashboard-container .meetings-container .meetings .meeting .menu {
  justify-self: flex-end;
}